

.logo{
width: 180px;
height: 50px;
}
.logoForm{
    width: 250px;
    height: 130px;
}

.gallery{
    margin-top: 113px;;
}

.nav-header {
font-size: 18px;
font-weight: bolder;
}

#navbarSupportedContent .nav-header .nav-item a {
    color: #A7C957;
}

.bg-zona{
    background-color: #36623E;
}

.font{
    font-family: lobster;
    font-size: 40px;
    text-align: justify;
}

.cont-turismo{
    width: 100%;
}

.img-fluid{
    height: 350px;
    width: 100%;
}

.img-thumbnail{
    height: 650px;
    width: 100%;
    border: none;
}
.img-footer{
    width: 300px;
    height: 160px;
}
.img-sernatur{
    margin-top: 10px;
    width: 150px;
    height: 110px;
}
.img-distincion{
    width: 200px;
    height: 100px;
}

.card{
    border: none;
}

.card-img-overlay{
    font-family: lobster;
    padding: 20px;
}
.icon-class{
    width: 35px;
    height: 35px;
}
.font-footer{
    font-family: roboto;
    font-size: 18px;
}

@media(max-width:400px){
.bg-danger{
    background-color: #36623E;
}
}